.main {
  height: 85vh;
  padding: 3rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 5rem;
  margin: 0rem 3rem;
}

.week__container {
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.35);
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
  padding: 5rem 3rem;
  .goal {
    h1 {
      font-size: 2.4rem;
    }
    &__content {
      font-size: 1.8rem;
      &--form {
        padding-top: 3rem;
        position: relative;
        display: flex;
        align-items: center;
        height: 7rem;
        overflow: hidden;
        &--input {
          background-color: transparent;
          font-size: 1.8rem;
          border: none;
          height: 100%;
          width: 100%;
          &:focus {
            outline: none;
          }

          &:focus + label span,
          &:valid + label span {
            transform: translateY(-30%);
            font-size: 1.4rem;
            color: #0984e3;
          }
          &:focus + label::after,
          &:valid + label::after {
            transform: translateX(0%);
          }
        }
        &--label {
          position: absolute;
          left: 0rem;
          bottom: 0rem;
          width: 100%;
          height: 100%;
          pointer-events: none;
          border-bottom: 1px solid gray;
          display: flex;
          align-items: center;

          span {
            height: 100%;
            position: absolute;
            left: 0rem;
            top: 4rem;
            transform: all 0.3 ease;
            transition: all 0.3s ease;
          }
        }
        &--label::after {
          content: "";
          position: absolute;
          left: 0rem;
          bottom: -0.2rem;
          width: 100%;
          height: 100%;
          border-bottom: 3px solid #0984e3;
          transform: translateX(-100%);
          transition: transform 0.3s ease;
        }
        &--btn {
          font-size: 1.8rem;
          font-weight: bold;
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          color: #0984e3;
          background-color: transparent;
          border: none;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      }

      &--ul {
        height: 100%;
        &--li {
          position: relative;
          display: flex;
          align-items: center;
          padding: 0rem 3rem;
          font-size: 1.8rem;
          height: 5rem;
          border: none;
          border-bottom: 1px solid gray;
          &:hover {
            > button {
              opacity: 1;
            }
          }
          button {
            position: absolute;
            right: 2rem;
            background-color: transparent;
            border: none;
            opacity: 0;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
  .pray {
    h1 {
      font-size: 2.4rem;
    }
  }
}

.today__container {
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.35);
  display: grid;
  grid-template-rows: 1fr 4fr;
  row-gap: 2rem;
  padding: 5rem;
  .goal {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2.4rem;
    }
  }
  .todo {
    h1 {
      font-size: 2.4rem;
    }
  }
}
